* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(194, 171, 140) rgb(31, 31, 31);
}

::selection {
  background-color: rgb(26,26,26);
  color: rgb(157, 145, 129);
}

.scroll {
  font-size: 32px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-align: center;
  background-color: rgb(26, 26, 26);
  color: #fff;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: .25s ease;
}

.scroll:hover {
  background-color: rgb(157, 145, 129);
}

/* Header */
#home {
  width: 100%;
  height: 110vh;
  background-image: url('./img/background.png');
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 80px;
}

.logo {
  height: 40px;
  margin-right: auto;
  transition: 1s ease;
}

.logo:hover {
  background-image: url('./img/logo2.png') !important;
  background-position: center;
  background-size: cover;
  transform: scale(1.1);
}

.nav-list {
  text-align: right;
}

.list-item {
  display: inline-block;
  padding: 10px 20px;
}

.list-item a {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
  transition: 0.25s ease;
}

.list-item a:hover {
  color: rgb(184, 188, 192);
}

.welcome {
  display: flex;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.welcome h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

.welcome p {
  margin-bottom: 70px;
}

button {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: rgb(194, 171, 140);
  transition: transform 0.3s ease;
}

button a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
}

button:hover {
  background-color: rgb(157, 145, 129);
  transform: scale(1.1);
}

/* Artists */
#artists {
  height: auto;
  min-height: 100vh;
  text-align: center;
  padding: 15px 55px;
}

#artists p {
  font-weight: 400;
  margin: 10px 20px 40px 20px;
}

.icon {
  width: 50px;
  margin: 35px 0 10px 0;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  margin: 0 20px 50px 20px;
}

.artist {
  display: flex;
  align-items: center;
  background-color: rgb(26, 26, 26);
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.394);
  padding: 5px;
  transition: .25s ease;
}

.artist:hover {
  transform: scale(1.05);
}

.artist img {
  max-width: 130px;
  border-radius: 20px;
  margin-right: 10px;
}

.artist h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#audio-container {
  width: 30%;
  margin-left: auto;
}

#audio-container audio {
  width: 60%;
}

/* Shop */
#shop {
  height: auto;
  min-height: 105vh;
  background-color: rgb(26,26,26);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.shop-header {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.shop-header p {
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-box {
  margin-bottom: 15px;
  border-radius: 20px;
  width: 60%;
}

.box label {
  background: rgb(157, 145, 129);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.main-box label:hover{
  background: rgb(118, 108, 96);
}

.main-box input:checked ~ label {
  border-radius: 20px 20px 0 0;
  background: rgb(157, 145, 129);
}

.box-text {
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 25px 25px;
  transition: all 0.4s ease;
  width: 100%;
}

.main-box input:checked ~ .box-text {
  max-height: 100vh;
}

.box-text p {
  padding: 20px;
  font-size: 16px;
  color: #111;
}

.text-end {
  text-align: center;
  color: #fff;
  margin: 20px auto;
  max-width: 800px;
}

/* About */
#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 80px 10%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 90px;
}

#about h1 {
  margin-bottom: 20px;
}

#about p {
  margin: 0 0 10px 0;
}

.about-photo {
  width: 100%;
  max-width: 600px; /* Встановіть бажану максимальну ширину фото */
  border-radius: 30px;
  margin-top: 50px;
}

/* Footer */
.footer {
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px 0px 30px 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.footer-logo h4 {
  font-size: 26px;
  font-weight: 800;
}

.footer-logo p {
  margin-top: 10px;
  font-size: 12px;
}

.footer-logo hr {
  color: rgb(255,255,255);
  margin-top: 6px;
}

/* Адаптивні стилі для мобільних екранів */
@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .nav {
    display: flex;
    justify-content: center; /* Центруємо логотип горизонтально */
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }

  .logo {
    width: 50px; /* Змініть розмір логотипу за потребою */
  }

  .nav-list {
    display: none; /* Ховаємо навігацію */
  }

  .scroll {
    display: none; /* Ховаємо кнопку прокрутки догори */
  }

  .welcome {
    text-align: center;
  }

  #about {
    text-align: center;
  }

  #about img {
    display: none; /* Ховаємо фото в розділі "Про нас" */
  }

  #about p {
    text-align: center; /* Центруємо текст посередині */
  }

  #artists {
    height: auto;
    min-height: 100vh;
    text-align: center;
    padding: 15px 0px;
  }

  .artists-container {
    display: flex;
  justify-content: center; /* Центрування по горизонталі */
  align-items: center;
  }

  .artist h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

}

